/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.navigation {
    list-style-type: none;
    display: flex;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

/* COMMON */
.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 6rem;
    padding-bottom: 2rem;
}

.price {
    color: red;
    font-weight: bold;
}

.lt-price {
    color: black;
    text-decoration: line-through;
    font-weight: lighter;
}

.card-content {
    margin-bottom: 1rem;
}

/* HEADER */
header {
    background-color: #ff6900;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

.h-container {
    width: 90%;
    margin: 0 auto;
    padding-top: 1rem;
    display: flex;
    align-items: center;
}

.logo img {
    width: 20%;
}

.h-nav{
    color: white;
}

.navigation li {
    margin: 0 1rem;
}

.navigation a {
    margin: 0 .5rem;
}

.logo {
    flex-grow: 1;
    text-align: center;
}

.nav1 {
    width: 20%;
}

.nav2 {
    text-align:right;
}

/* MAIN */
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: calc(95% / 3);
}
.card-img {
    position: relative;
    display: inline-block;
}
.card-img .img-hover{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
}

.card-img:hover .img-hover{
    display: inline;
}

.tag {
    position: absolute;
    bottom: 3rem;
    left: 0;
    z-index: 2;
}

.heart {
    display: inline-block;
    color: black;
    background-color: white;
    font-size: 3rem;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 30px;
    z-index: 2;
}

.heart:hover {
    color: red;
}

.sales,.detail {
    display: inline-block;
    color: white;
    font-weight: bold;
    padding: 5px;
}

.sales {
    background-color: red;
}

.detail {
    background-color: green;
}

/* FOOTER */
footer {
    background-color: #1a1a1a;
}

.f-container {
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}

.f-title {
    color: white;
    margin-bottom: 1.5rem;
}

.f-nav {
    color: white;
    align-items: center;
}

